from google.colab import drive
drive.mount('/content/drive')

**Ecommerce business offer a group of whitelist customers a special promotion for the membership subscription,\
and they have 2 type of screens: (an original price of package is 199K)**

*__Screen A: show a discounted price of paid package (99K)__* \
*__Screen B: show a discount amount in price (discount 100K)__*

1.	Design Ab testing experiment for this case. What can be the external factors in this AB testing? How can you monitor these factors? 

2.	The data was collected as an attached file. Assuming that the ab testing experiment was conducted in the perfect circumstances, what do you think about the results? (Use hypothesis testing to prove the results is significant)

# Answer:

**Câu 1. Design AB Test**

- Define Goal: Tăng tỉ lệ conversion rate 
- Define Variables to test: content layout on screen A và content layout on screen B
- Split: Control = customers seen screen B, Treatment = customers seen screen A
- External Error: 
    - Lỗi hệ thống
    - lỗi hiển thị
    - seasonality
    - competitors 

**Câu 2**
- H0: tỉ lệ conversion của customers xem màn hình A < với tỉ lệ coversion của customers xem màn hình B
- H1: tỉ lệ conversion của customers xem màn hình A >= với tỉ lệ coversion của customers xem màn hình B
- Confidence level = 95% => alpha = 5%
- p value lấy từ abtestguide tools là 2% < alpha => reject H0 and statistical significant
- Vê mặt thống kê con số này có thể cho thấy CVR của những người xem screen A là cao hơn screen B tuy nhiên thời gian thực hiện test đang chưa đề cập tới.
- Nếu duration > 1 month => có thể áp dụng kết quả này cho toàn bộ hệ thống
- Nếu duration < 1 month => giá trị này cần phải theo dõi thêm vì chưa chắc trong long-term nó đã như vậy, vì có thể còn bị ảnh hưởng bởi các yếu tốt mùa vụ, hoặc promotion của đối thủ cạnh tranh, ...

In [5]:
from scipy.stats import chi2_contingency
import pandas as pd
import numpy as np
#1. Create a contigency table (bảng tương quan)
df = pd.read_csv(r"C:\Users\kunbo\OneDrive\1. Học tập\Unigap - DAC\Statistic Module\Project\AB Testing\abtesting-dataset.csv")
group1 = df[df['group'] == 1]
group2 = df[df['group'] == 2]

group1__non_converted = group1.loc[group1['is_buy'] == 0]['is_buy'].count()
group2__non_converted = group2.loc[group2['is_buy'] == 0]['is_buy'].count()

group1__converted = group1.loc[group1['is_buy'] == 1]['is_buy'].count()
group2__converted = group2.loc[group2['is_buy'] == 1]['is_buy'].count()

contingency_table = np.array([[group1__converted,group1__non_converted],
                              [group2__converted,group2__non_converted]])
print(contingency_table)
#2. Apply chi-square test:

result = chi2_contingency(contingency_table,correction = True)
result

[[ 5199  9826]
 [ 4357 10667]]

Chi2ContingencyResult(statistic=108.44557259748902, pvalue=2.1466484109729665e-25, dof=1, expected_freq=array([[ 4778.15900696, 10246.84099304],
       [ 4777.84099304, 10246.15900696]]))

In [33]:
g1_buy = group1[group1['is_buy'] == 1]['is_buy'].count()
g2_buy = group2[group2['is_buy'] == 1]['is_buy'].count()

g1_nobuy = group1[group1['is_buy'] == 0]['is_buy'].count()
g2_nobuy = group2[group2['is_buy'] == 0]['is_buy'].count()

print(f'Number of buy over not buy on group 1 is {g1_buy} / {g1_nobuy} ({g1_buy/g1_nobuy*100:.2f}%)\nNumber of buy over not buy on group 2 is {g2_buy} / {g2_nobuy} ({g2_buy/g2_nobuy*100:.2f}%) ')
print(f'{g1_buy + g1_nobuy}, {g2_buy + g2_nobuy}')

Number of buy over not buy on group 1 is 5199 / 9826 (52.91%)
Number of buy over not buy on group 2 is 4357 / 10667 (40.85%)
15025, 15024

In [34]:
df

            Unnamed: 0  customer_id  group  is_buy
Unnamed: 0
0                    0     21393799      2       0
1                    1     20349278      2       0
2                    2     11655915      2       0
3                    3     18516581      2       0
4                    4      7805171      2       0
...                ...          ...    ...     ...
30044            30044     11076997      1       1
30045            30045      8268695      1       1
30046            30046      1459910      1       1
30047            30047      7719065      1       1
30048            30048      5817399      1       1

[30049 rows x 4 columns]