In [2]:
import pandas as pd
import janitor
import warnings

warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv(r'C:\Users\Alvin Nguyen\OneDrive\Học tập\Discord Challenge\Statistic Challenge\Final Project\ecommerce_dataset_updated.csv')
df = df.clean_names()
df.columns = [col[:-1] if col.endswith("_") else col for col in df.columns]

df['purchase_date'] = df['purchase_date'].str.replace("-", "/")

df['discount_%'] = df['discount_%']/100

In [9]:
df['discount_amount'] = df['price_rs'] * df['discount_%']

df['purchase_date'] = pd.to_datetime(df['purchase_date'], dayfirst=True)

duplicated_counts = {col: df[col].duplicated().sum() for col in df.columns}
null_counts = {col: df[col].isna().sum() for col in df.columns}

print("Duplicate Count:")
display(duplicated_counts)

print("\nNull Count:")
display(null_counts)

Duplicate Count:

{'user_id': 0,
 'product_id': 0,
 'category': 3653,
 'price_rs': 143,
 'discount_%': 3652,
 'discount_amount': 513,
 'final_price_rs': 146,
 'payment_method': 3655,
 'purchase_date': 3334}

Null Count:

{'user_id': 0,
 'product_id': 0,
 'category': 0,
 'price_rs': 0,
 'discount_%': 0,
 'discount_amount': 0,
 'final_price_rs': 0,
 'payment_method': 0,
 'purchase_date': 0}

In [5]:
new_order = ['user_id', 'product_id', 'category','price_rs', 'discount_%', 'discount_amount', 'final_price_rs', 'payment_method', 'purchase_date']

df = df[new_order]

display(df.head(2))
df.info()

,user_id,product_id,category,price_rs,discount_%,discount_amount,final_price_rs,payment_method,purchase_date
0,337c166f,f414122f-e,Sports,36.53,0.15,5.4795,31.05,Net Banking,2024-11-12
1,d38a19bf,fde50f9c-5,Clothing,232.79,0.20,46.5580,186.23,Net Banking,2024-02-09

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3660 entries, 0 to 3659
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          3660 non-null   object
 1   product_id       3660 non-null   object
 2   category         3660 non-null   object
 3   price_rs         3660 non-null   float64
 4   discount_%       3660 non-null   float64
 5   discount_amount  3660 non-null   float64
 6   final_price_rs   3660 non-null   float64
 7   payment_method   3660 non-null   object
 8   purchase_date    3660 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 257.5+ KB

df.to_csv(r'C:\Users\Alvin Nguyen\OneDrive\Học tập\Discord Challenge\Statistic Challenge\Final Project\ecommerce_dataset_updated_cleaned_v2.csv', index=False)